RINGCENTRAL_SERVER_URL: https://platform.devtest.ringcentral.com
RINGCENTRAL_TOKEN:
RINGCENTRAL_CHATBOT_DATABASE_USERNAME: username
RINGCENTRAL_CHATBOT_DATABASE_PASSWORD: password
RINGCENTRAL_CHATBOT_DATABASE_CONNECTION_URI:
  Fn::Join:
    - ""
    - - postgresql://username:password
      - "Fn::GetAtt": [Database, Endpoint.Address]
      - /dbname
